<form class="row needs-validation" style="width:500px;">
    <div class="modal-content">
        <div class="search-header text-center">
            <h2 class="text-center">View Author</h2>
        </div>
        <div class="modal-body">
            <div class="col-12">
                <h3 class="card-title m-4">
                    <%= author.name %>
                </h3>
            </div>
            <div class="col-12">
                <h3 class="card-title m-4">
                    <%= author.country %>
                </h3>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/author"><button type="button" class="btn btn-secondary m-3" data-dismiss="modal"><i
                        class="bi bi-x-circle"></i> Close</button></a>
            <a class="btn btn-primary text-right" href="/author/<%= author.id %>/edit"><i class="bi bi-pencil"></i>
                Edit</a>
        </div>
    </div>
</form>