<div class="modal-content" style="width:500px;">
    <div class="search-header text-center">
        <h2 class="text-center">There is some problem!</h2>
    </div>
    <% if(code == 500) { %>
    <div class="modal-footer" style="text-align: center;">
        <div class="col-12">
            Internal Server Error!
        </div>
    </div>
    <% } %>
    <% if(code == 401) { %>
    <div class="modal-footer" style="text-align: center;">
        <div class="col-12">
            User Not Found! <br>
            Please check your email and password and try again <a href="/user/signin">SignIn</a>
        </div>
    </div>
    <% } %>
    <% if(code == 403) { %>
    <div class="modal-footer" style="text-align: center;">
        <div class="col-12">
            Session Expired! Please <a href="/user/signin">SignIn</a>
        </div>
    </div>
    <% } %>
    <% if(code == 404) { %>
        <div class="modal-footer" style="text-align: center;">
            <div class="col-12">
                We cannot find the page you are looking for. <br>
                Please go back to <a href="/">Home</a>
            </div>
        </div>
        <% } %>
    <% if(code == 406) { %>
        <div class="modal-footer" style="text-align: center;">
            <div class="col-12">
                There are other elements in the library that are related to this element.<br>
                You can't remove it.<br>
                Please go back to <a href="/">Home</a>
            </div>
        </div>
        <% } %>    
    <% if(code !== 403 && code !== 401 && code !== 404 && code!=406) { %>
        <div class="modal-footer" style="text-align: center;">
            <div class="col-12">
                Please go back to <a href="/">Home</a>
            </div>
        </div>
    <% } %>
</div>