@import '../stylesheets/shared/header.css';


:root {
    font-family: Raleway;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-control{
    width: 500px;
}

.title-box {
    display: flex;
    max-width: 500px;
    height: 280px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.book-content {
    flex-basis:100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-cover{
    width:200px;
    height:280px;
}