<form class="row needs-validation" action="/genre" method="post" novalidate>
    <div class="modal-content">
        <div class="search-header text-center">
            <h2 class="text-center">Add Genre</h2>
        </div>
        <div class="modal-body">
            <div class="col-12">
                <label for="name" class="form-label">Genre</label>
                <input type="text" class="form-control input-lg" id="name" name="name" required>
                <div class="invalid-feedback">
                    Please provide genre name.
                </div>
            </div>
            <div class="col-12">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" class="form-control input-lg" name="description" rows="4" cols="50" required></textarea>
                <div class="invalid-feedback">
                    Please provide brief genre description.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/genre"><button type="button" class="btn btn-secondary m-3" data-dismiss="modal"><i class="bi bi-x-circle"></i> Close</button></a>
            <button type="submit" class="btn btn-primary"><i class="bi bi-save2"></i> Save</button>
        </div>
    </div>
</form>