<form method="post">
    <div>
        <div>
            <h2>Register</h2>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" required placeholder="name@example.com"
                autocomplete="off">
            <div class="invalid-feedback">
                Please enter a valid email.
            </div>
        </div>

        <div class="mb-3">
            <label for="pwd" class="form-label">Password</label>
            <input type="password" class="form-control" name="pwd" id="pwd" required placeholder="Enter password"
                autocomplete="off">
            <div class="invalid-feedback">
                Please enter password.
            </div>
        </div>

        <div class="mb-3">
            <label for="re_pwd" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="re_pwd" id="re_pwd" required
                placeholder="Confirm password" autocomplete="off">
            <div class="invalid-feedback">
                Password didn't match.
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>

    <div>
        <p>If already registred, please <a href="/user/signin">Signin</a></p>
    </div>
</form>